/* Css for Main content of the pagee */

main{
    width: 80%;
    margin: 4px auto;
}


/* Css for box a Containing cards */
.cards-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Css for various cards */
.cards{
    width: 300px;

    margin:  4px;

    font-size: 1.1rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.cards p{
    padding: 5px 0px;
    color: #868181;
}

.cards strong{
    padding: 0px;
    color: black;
}