<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/nav.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/form.css')}}">


</head>

<body>
    <!-- This is navigation bar -->
    <nav id="navbar">
        <ul>
            <li>
                <h3>Title</h3>
            </li> <!-- Name of webpage-->

            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact Us</a></li>

        </ul>
        <ul>
            <li><input type="text" id='search' placeholder="Search"></li>
            <li><button id="searchBtn">Search</button></li>
        </ul>
    </nav>
    <!-- contact section -->
    <section>
        <div class="container">
            <div class="contactinfo">
                <div>
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><img src="../static/img/location.png" alt="Location"></span><br>
                            <span>IIT Mandi, Kamand Campus, Mandi</span>
                        </li>
                        <li>
                            <span><img src="../static/img/mail.png" alt="Email address"></span><br>
                            <span>@gmail.com<br>
                            shindeshweta100@gmail.com</span>
                        </li>
                        <p>If you have any problem, please mail us.</p>
                    </ul>
                </div>
            </div>
            <div class="contact-form">
                <h2>Send a Message</h2>
                <div class="formBox">
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>First Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Last Name</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Email Address</span>
                    </div>
                    <div class="inputBox w50">
                        <input type="text" name="" required>
                        <span>Mobile Number</span>
                    </div>
                    <div class="inputBox w100">
                        <textarea name="" required></textarea>
                        <span>Write your message here</span>
                    </div>
                    <div class="inputBox w100">
                        <input type="submit" value="send">
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>