<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="General Knowledge is one of the most important section in many competative exams. This is the platform where you can take the exam yourself and know your score.">
    <meta name="keywords" content="test, quiz, gk, general knowledge, results, questions, solutions,competetive, competative exams, IAS, all topics, new questions daily, updated daily, three levels, easy, difficulty, hard">
    <meta name="author" content="Aashi & Shweta">
    <meta http-equiv="refresh" content="60">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/nav.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static',filename='css/head.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/button.css')}}">
</head>

<body>
    <!-- This is navigation bar -->
    <nav id="navbar">
        <ul>
            <li>
                <h3>Title</h3>
            </li> <!-- Name of webpage-->
            <li><a href="/">Home</a></li>
        
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <ul>
            <li><input type="text" id='search' placeholder="Search"></li>
            <li><button id="searchBtn">Search</button></li>
        </ul>
    </nav>
    <!-- head page or starter -->
    <div class="container">
        <!-- About Website -->
        <h1>Title</h1>
        <p>General Knowledge is one of the most important section in many competative exams. This is the platform where you can take the exam yourself and know your score.</p>
    </div>
    <!-- Quizes Available
    and the topics of quiz 
    with difficulty levels and their respective links -->
    <main>
        <h1>Tests Available</h1>
        <hr>
        <div class="cards-row">
            <!-- quiz cards -->
            <!-- the following are various quiz cards with their different topics of each -->
            <!-- description about each topic in About the particular topic -->
            <div class="cards">
                <div class="img"><img src="{{url_for('static',filename='img/GK.jpg')}}" alt="General Knowledge"></div>
                <div class="content">
                    <p><strong>General Knowledge</strong></p>
    
                    <div class="button">
                        <button class="btn"><a href="start/category=9/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="start/category=9/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="start/category=9/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <div class="img"><img src="{{url_for('static',filename='img/books.jpg')}}" alt="Entertainment: Books"></div>
                <div class="content">
                    <p><strong>Entertainment: Books</strong></p>
                    
                    <div class="button">
                        <button class="btn"><a href="/start/category=10/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=10/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=10/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <div class="img"><img src="{{url_for('static',filename='img/films.png')}}" alt="Entertainment: Films"></div>
                <div class="content">
                    <p><strong>Entertainment: Films</strong></p>
                    
                    <div class="button">
                        <button class="btn"><a href="/start/category=11/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=11/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=11/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/music.jpg')}}" alt="Entertainment: Music"></div>
                <div class="content">
                    <p><strong>Entertainment: Music</strong></p>
                    
                    <div class="button">
                        <button class="btn"><a href="/start/category=12/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=12/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=12/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/theatre.jpg')}}" alt="Entertainment: Musicals & Theatres"></div>
                <div class="content">
                    <p><strong>Entertainment: Musicals & Theatres</strong></p>
                    <div class="button">
                        <button class="btn"><a href="/start/category=13/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=13/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=13/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/Television.jpg')}}" alt="Entertainment: Television"></div>
                <div class="content">
                    <p><strong>Entertainment: Television</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=14/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=14/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=14/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/videogames.jpg')}}" alt="Entertainment: Video Games"></div>
                <div class="content">
                    <p><strong>Entertainment: Video Games</strong></p>
                    
                    <div class="button">
                        <button class="btn"><a href="/start/category=15/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=15/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=15/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/boardgames.jpg')}}" alt="Entertainment: Board Games"></div>
                <div class="content">
                    <p><strong>Entertainment: Board Games</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=16/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=16/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=16/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/SciNature.jpg')}}" alt="Science & Nature"></div>
                <div class="content">
                    <p><strong>Science & Nature</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=17/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=17/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=17/difficulty=hard">Difficult</a></button>
                    </div>
                </div>

            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/Comp.jpg')}}" alt="Science: Computers"></div>
                <div class="content">
                    <p><strong>Science: Computers</strong></p>
                 
                    <div class="button">
                        <button class="btn"><a href="/start/category=18/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=18/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=18/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/Math.jpg')}}" alt="Science: Mathematics"></div>
                <div class="content">
                    <p><strong>Science: Mathematics</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=19/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=19/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=19/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/mythology.jpg')}}" alt="Mythology"></div>
                <div class="content">
                    <p><strong>Mythology</strong></p>
                  
                    <div class="button">
                        <button class="btn"><a href="/start/category=20/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=20/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=20/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/sport.png')}}" alt="Sports"></div>
                <div class="content">
                    <p><strong>Sports</strong></p>
             
                    <div class="button">
                        <button class="btn"><a href="/start/category=21/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=21/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=21/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/geography.jpg')}}" alt="Geography"></div>
                <div class="content">
                    <p><strong>Geography</strong></p>
         
                    <div class="button">
                        <button class="btn"><a href="/start/category=22/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=22/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=22/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/history.jpg')}}" alt="History"></div>
                <div class="content">
                    <p><strong>History</strong></p>
                 
                    <div class="button">
                        <button class="btn"><a href="/start/category=23/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=23/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=23/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/politics.jpg')}}" alt="Politics"></div>
                <div class="content">
                    <p><strong>Politics</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=24/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=24/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=24/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/arts.jpg')}}" alt="Arts"></div>
                <div class="content">
                    <p><strong>Arts</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=25/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=25/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=25/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/celebrity.jpg')}}" alt="Celebrities"></div>
                <div class="content">
                    <p><strong>Celebrities</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=26/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=26/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=26/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/animals.jpg')}}" alt="Animals"></div>
                <div class="content">
                    <p><strong>Animals</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=27/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=27/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=27/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/vehicals.jpg')}}" alt="Vehicles"></div>
                <div class="content">
                    <p><strong>Vehicles</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=28/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=28/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=28/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/comics.png')}}" alt="Entertainment: Comics"></div>
                <div class="content">
                    <p><strong>Entertainment: Comics</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=29/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=29/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=29/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/gadgets.png')}}" alt="Science: Gadgets"></div>
                <div class="content">
                    <p><strong>Science: Gadgets</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=30/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=30/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=30/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/anime.jpg')}}" alt="Entertainment: Japanese Anime & Manga"></div>
                <div class="content">
                    <p><strong>Entertainment: Japanese Anime & Manga</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=31/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=31/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=31/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <!-- image related to type of quiz -->
                <div class="img"><img src="{{url_for('static',filename='img/cartoon.jpg')}}" alt="Entertainment: Cartoon & Animations"></div>
                <div class="content">
                    <p><strong>Entertainment: Cartoon & Animations</strong></p>
                   
                    <div class="button">
                        <button class="btn"><a href="/start/category=32/difficulty=easy">Easy</a></button>
                        <button class="btn"><a href="/start/category=32/difficulty=medium">Medium</a></button>
                        <button class="btn"><a href="/start/category=32/difficulty=hard">Difficult</a></button>
                    </div>
                </div>
            </div>


        </div>
    </main>
</body>
<!-- <script src="../static/js/search.js"></script> -->
<!-- These commented links are for backened -->
<script src="{{url_for('static',filename='js/search.js')}}"></script>
</html>