<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Quiz</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

  <!-- Link Swiper's CSS -->


  <link rel="stylesheet" href="{{url_for('static',filename='css/quiz.css')}}"> 
  <link rel="stylesheet" href="{{url_for('static',filename='css/timer.css')}}"> 
  
</head>

<body onload='start({{num}},{{level}})'>
  <!-- Swiper -->
  <nav id="navbar">
      <ul>
          <li><h3>Quiz Begins</h3></li>
      </ul>
      <ul>
          <li><button>End Quiz</button></li>
          <li id="timer">timer</li>
      </ul>
  </nav>
  <div class="swiper-container">
    
    <div class="swiper-wrapper" >
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
      <div class="swiper-slide"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
  <script src="{{url_for('static',filename='js/quiz.js')}}"></script>
  <script src="{{url_for('static',filename='js/timer.js')}}"></script>
  <!-- Initialize Swiper -->
</body>

</html>